{% extends 'main.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class='container mb-4'>
    <h1 class='mb-4'>About us</h1>
    <div>
        <h2>Welcome to our e-learning platform for schools and universities!</h2>
        <p>We are passionate about education and believe in the power of technology to transform the way we teach and learn. Our platform is designed to provide a seamless and interactive learning experience for both teachers and students.</p>
        <p>As a team of dedicated developers, we have chosen to build this project using Python and Django, one of the most popular and robust web development frameworks available. Through this endeavor, we aim to not only deepen our expertise in Django but also showcase our abilities to potential employers like you.</p>
        <p>Our e-learning platform offers a wide range of features tailored to the needs of educational institutions. Teachers can create courses, upload learning materials, and manage their class schedules effortlessly. Students, on the other hand, can access these courses, participate in discussions, submit assignments, and track their progress—all within a user-friendly and intuitive interface.</p>
        <p>We understand the importance of collaboration and engagement in the learning process. Hence, our platform incorporates features that foster interaction between students and teachers. From discussion forums and chat functionality to personalized feedback and assessment tools, we strive to create an engaging environment that encourages active participation and knowledge sharing.</p>
        <p>As we continue to develop and enhance our e-learning platform, we are committed to adhering to industry best practices and following the latest advancements in educational technology. We are dedicated to delivering a reliable, secure, and scalable solution that meets the evolving needs of educational institutions worldwide.</p>
        <p>We invite you to explore our demo project and witness firsthand the potential of our e-learning platform. We are confident that our innovative approach, coupled with the power of Python and Django, will make a lasting impression on both educators and students alike.</p>
        <p>Thank you for your interest in our project. We look forward to discussing how our e-learning platform can contribute to the success of your institution and the advancement of education as a whole.</p>
      </div>      
</div>

{% endblock %}