{% extends 'main.html' %}

{% block title %}Add Course{% endblock %}

{% block content %}
<div class='container mt-2 py-2'>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard.courses' %}">Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dashboard.course_detail' course.id %}">{{ course.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Lesson</li>
        </ol>
    </nav>
    <h3 class='my-3'>Add lesson to {{ course.name }}</h3>
    <div class='card h-100 shadow border-0'>
        <div class='card-body'>
            <form method='POST' action="{% url 'dashboard.add_lesson' course.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button class='btn btn-primary'>Add Lesson</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}