{% extends 'main.html' %}

{% block title %}Lesson {{ course.name }}{% endblock %}

{% block content %}


<section>
    <div class="container-fluid">
        <div class="row gx-5">
            <div class="col">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <div class='row'>
                        <nav class="col-lg-2 nav min-vh-100 bg-dark flex-column align-content-center text-center py-5 pe-0">
                            <a class="nav-link w-100 text-white" aria-current="page" href="{% url 'dashboard.course_detail' course.id %}">{{ course.name }}</a>
                            {% for course_lesson in course.lesson_set.all %}
                                {% if perms.dashboard.view_lesson %}
                                <a class="nav-link text-white w-100 {% if course_lesson.id == lesson.id %} sidebar-active {% endif %}" href="{% url 'dashboard.lesson_detail' course.id course_lesson.id %}">{{ course_lesson.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </nav>
                        <!-- Post content-->
                        <section class="col-lg-10 mb-5 my-5 px-5">
                            <header class="mb-4">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'dashboard.courses' %}">Courses</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'dashboard.course_detail' course.id %}">{{ course.name }}</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ lesson.name }}</li>
                                    </ol>
                                </nav>
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">{{ lesson.name }}</h1>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">{{ lesson.updated_date|date }}</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                            </header>
                            <section class="mb-5">
                                <p class="fs-5 mb-4">{{ lesson.content|linebreaks }}</p>
                            </section>
                            {% if previous_lesson %}
                            <a class='btn btn-secondary' href="{% url 'dashboard.lesson_detail' course.id previous_lesson.id %}">{{ '<' }} Previous</a>
                            {% endif %}
                            {% if next_lesson %}
                            <a class='btn btn-primary' href="{% url 'dashboard.lesson_detail' course.id next_lesson.id %}">Next {{ '>' }}</a>
                            {% endif %}
                            {% if perms.dashboard.change_lesson %}
                            <a class='btn btn-warning' href="{% url 'dashboard.edit_lesson' course.id lesson.id %}">Edit Lesson</a>
                            {% endif %}
                            {% if perms.dashboard.delete_lesson %}
                            <a class='btn btn-danger' href="{% url 'dashboard.delete_lesson' course.id lesson.id %}">Delete Lesson</a>
                            {% endif %}
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}