{% extends 'main.html' %}

{% block title %}Lesson {{ course.name }}{% endblock %}

{% block content %}

<!-- Page Content-->
<section class="py-5">
    <div class="container my-5">
        <div class="row gx-5">
            <div class="col">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'dashboard.courses' %}">Courses</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'dashboard.course_detail' lesson.course.id %}">{{ lesson.course.name }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ lesson.name }}</li>
                            </ol>
                        </nav>
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ lesson.name }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ lesson.updated_date|date }}</div>
                        <!-- Post categories-->
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">{{ lesson.content }}</p>
                    </section>
                    {% if previous_lesson_exists %}
                    <a class='btn btn-secondary' href="{% url 'dashboard.previous_lesson' lesson.course.id lesson.id %}">{{ '<' }} Previous</a>
                    {% endif %}
                    {% if next_lesson_exists %}
                    <a class='btn btn-primary' href="{% url 'dashboard.next_lesson' lesson.course.id lesson.id %}">Next {{ '>' }}</a>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
</section>
</main>

{% endblock %}